<!-- Team
============================================= -->
  <section id="team">
      <div class="container">
          <h2>Our Team</h2>
          <hr class="sep">
          <p>Designers Behind This Work</p>
          <div class="row wow fadeInUp" data-wow-delay=".3s">
              <div class="col-md-4">
                  <div class="team">
                      <img class="img-responsive center-block" src="/assets/team/MariaDoe.jpg" alt="1">
                      <h4>Maria Doe</h4>
                      <p>Designer</p>
                      <div class="team-social-icons">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="team">
                      <img class="img-responsive center-block" src="/assets/team/JasonDoe.jpg" alt="2">
                      <h4>Jason Doe</h4>
                      <p>Developer</p>
                      <div class="team-social-icons">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="team">
                      <img class="img-responsive center-block" src="/assets/team/MikeDoe.jpg" alt="3">
                      <h4>Mike Doe</h4>
                      <p>Photographer</p>
                      <div class="team-social-icons">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-dribbble"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
